<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Taco Cloud</title>
    </head>
    <body>
        <h1>Welcome to...</h1>
        <img th:src="@{/images/taco.jpg}"/>
        <form method="POST" th:action="@{/logout}" id="logoutForm">
            <input type="submit" value="Logout"/>
        </form>

        <a th:href="@{/design}" id="design">Design a taco</a>
    </body>
</html>